.cgu-container{
    margin: 0 ;
    padding: 50px 0;
    display: flex;
    font-family: Montserrat;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    color: #2E424C;
    flex-direction: column;

}

.cgu-title-1{
    margin: 0 15px;
    max-width: 1000px;
    width: 1000px;
    font-size: 48px;
    text-align: star
}

.cgu-title{
    max-width: 1000px;
    width: 1000px;
    text-align: start;
    font-size: 36px;
    margin: 35px 15px 10px 15px;
}

.cgu-text{
    margin: 0 15px;
    white-space: normal;
    max-width: 1000px;
    height: auto;
    text-align: justify;
    font-size: 16px;
    font-weight: 500; 
}

body{
    background-color: #ECECEC;
}

@media (max-width: 1050px) {
    .cgu-title-1{
        width: 700px;
        font-size: 32px;
    }

    .cgu-title{
        width: 700px;
        font-size: 32px;
    }
    .cgu-text{
        width: 700px;     
    }
}

@media (max-width: 850px) {
    .cgu-title-1{
        font-size: 32px;
        width:  500px;  
    }

    .cgu-title{
        width: 500px; 
        font-size: 24px;  
    }
    .cgu-text{
        width:  500px;   
    }
}
@media (max-width: 650px) {
    .cgu-title{
        font-size: 24px;
    }   
}

@media (max-width: 550px) {
    .cgu-title-1{
        width:  350px;  
    }
    .cgu-title{
        width:  350px;
    }
    .cgu-text{
        width:  350px;
    }      
}

@media (max-width: 450px) {
    .cgu-title-1{
        width:  250px;
    }
    .cgu-title{
        width:  250px;
    }
    .cgu-text{
        width:  250px;
    }        
}  